.infoHeader {
    text-decoration-line: underline;
    padding-bottom: 1rem;
    text-decoration-color: #00FF00;
    text-shadow: 0 3px 10px rgb(2, 250, 77);
    text-decoration-thickness: 0.2rem;
  }

  .about {
    text-align: center;
  }

  .skillIcon {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 4rem;

  }

  .skillIcon li {
    background-color:  #161626;
    padding: 0.5rem;
    border-radius: 0.1rem;
    font-size: 2rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px rgba(49, 48, 48, 0.2);
  }

  @media screen and (max-width: 660px) {
    .skillIcon li {
      font-size: 1.2rem;
      margin: 0.5rem;
      margin-left: auto;
      margin-right: auto;
    }

  }