.div-projects{
    padding-top: 4rem;
  }

  .projects {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    border-radius: 2rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }

  .row {
    display: flex;
  }

  .divProjects{
    padding-top: 4rem;
  }

  .infoHeader {
    text-decoration-line: underline;
    padding-bottom: 1rem;
    text-decoration-color: #00FF00;
    text-shadow: 0 3px 10px rgb(2, 250, 77);
    text-decoration-thickness: 0.2rem;
  }


  .listed li {
    margin: 0.2rem;
    vertical-align: middle;
    /* text-align: center; */
    padding: 0.3rem;
    background-color: rgb(94, 91, 91);
    border-radius: 0.3rem;
  }
  
  .skill {
    text-align: center;
  }

  .divA a{
    margin-top: 1.8rem;
    text-decoration: none;
    justify-content: last baseline;
    float: right;
    background-color: #3b831a;
    padding: 0.3rem;
    border-radius: 1rem;
    color: white;
    width: auto;
  }

  .divA a:hover {
    background-color: #0eac0e;
    box-shadow: 0 3px 10px rgb(112, 110, 78);
  }

  .divA ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }

  .divB ul {
    margin-bottom: 0;
  }

  .listed {
    list-style: none;
    display: flex;
    padding-top: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .sectionBox {
    background-color: #161626;
    padding: 1rem;
    height: auto;
    box-shadow: 0 3px 10px rgba(22, 22, 22, 0.2);
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 4rem;
  }

  .left {
    margin-right: 0.5rem;
  }

  .right {
    margin-left: 0.5rem;
  }

  .bottom {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 18rem;
  }


  @media screen and (max-width: 768px) {
    
    .sectionBox {
      height: 14rem;
      padding: 1rem;
    }



    .sectionBox h3 {
      font-size: 1.2rem;
    }
    .sectionBox p {
      font-size: 1rem;
    }

    .skill {
      font-size: 0.9rem;
    }

    .listed {
      padding: 0;
    }

    .listed li {
      margin: 0.2rem;
      font-size: 0.7rem;
      padding: 0.3rem;
    }

 

    .divA a{
      /* margin-top: 0.4rem; */
    
      font-size: 0.7rem;
      /* padding: 0.2rem;  */
      padding-left: 0.4rem;
       padding-right: 0.4rem;
    }

    .sectionBox {
      height: fit-content;
    }

    .divA i {
      margin-left: 0.2rem;
      margin-top: 0.2rem;
    }

    .divA ul {
      margin-bottom: 0.2rem;
    }

    .listed i {
      margin-left: 0.3rem;
    }

    /* .divB a {
      margin-top: 1.9rem;
    } */

  }

  @media screen and (max-width: 660px) {
    /* .bottom {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      height: 16rem;
    } */

    .row {
      display: block;
    }

    .left {
      width: auto;
      margin: 2rem;
    }

    .divA a {
      margin-top: 1.9rem;
    }
    .right {
      width: auto;
      margin: 2rem;
    }
    .bottom {
      width: auto;
      margin: 2rem;
    }

    .sectionBox h3 {
      font-size: 1rem;
    }
    .sectionBox  {
      margin-top: 5rem;
    }
    .sectionBox p {
      font-size: 0.8rem;
    }

    .skill {
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 387px) {
    .left {
      width: auto;
      margin: 0.5rem;
    }
    .right {
      width: auto;
      margin: 0.5rem;
    }
    .bottom {
      width: auto;
      margin: 0.5rem;
    }

    .divA a {
      margin-top: 1.9rem;
    }

    .sectionBox h3 {
      font-size: 1rem;
    }
    .sectionBox li {
      font-size: 0.6rem;
    }
    .sectionBox p {
      font-size: 0.7rem;
    }
    .sectionBox  {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .skill {
      font-size: 0.7rem;
    }
  }

  @media screen  and (max-width: 311px) {
    
  }