.sectionBox {
    /* border-style: inset; */
    padding: 1rem;
    height: auto;
    box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 4rem;
  }

  .infoHeader {
    text-decoration-line: underline;
    padding-bottom: 1rem;
    text-decoration-color:  #8168e6;;
    text-shadow: 0 3px 10px  #9e87f8;;
    text-decoration-thickness: 0.2rem;
  }

  .socials {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
  }

  .socials li {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2rem;
    padding: 2rem;
  }
  
  .socials a  {
    text-decoration: none;
    color: gray;
    font-size: 2rem;
  }

  .socials a:hover  {
    color: whitesmoke;
  }

  .bottom {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .info {
    margin: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 3px 10px rgb(24, 23, 23);
    border-radius: 0.4rem;
    text-align: center;
    height: auto;
    background-color: 	 #161626;;
  }

  @media screen and (max-width: 660px) {
    .socials a {
      font-size: 1.5rem;
    }
  }

@media screen and (max-width: 311px) {
  .socials a  {
    font-size: 1rem;
  }
  
  .socials li {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    width: auto;
    padding: 0.5rem;
  }

  .infoHeader {
    font-size: 0.9rem;
  }

  .info p {
    font-size: 0.7rem;
  }
}