

.navCustom {
  background-color:#000000;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: +1;
  width: 100%;
  top: 0;
  /* transition: all 500ms ease; */
}



.header {
  float: left;
  /* display: flex; */
  padding: 1rem;
  padding-left: 4rem;
  color: #00FF00;
}

.liCustom {
    padding: 2rem;
  }


.ul {
    float: right;
    list-style: none;
    padding: 1.8rem;
    display: flex;
    justify-content: center;

  }

.liCustom a {
  text-decoration: none;
  color: white;
}

.liCustom a:hover {
  color: rgb(24, 247, 4);
}


.liCustom.hire:hover {
  background:  	#222222;
}
.liCustom.hire a {
  color: white;
}

.mobile_button {
  display: none;
}



@media screen and (max-width: 767px) {
  .mobile_button {
    display: block;
    position: absolute;
    right: 6rem;
    cursor: pointer;
    z-index: 20;
  }

  .mobile_button i {
    color: rgb(66, 235, 66); 
  
  }

  .ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: -100%;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    transform: left 1s;
    background-color: #000000;
    z-index: 10;
    transition: left 1s;
  }

  .ul li {
    margin: 2rem;

  }

  .active {
    left: 0;
    /* margin-bottom: 4rem; */
  }



  .liCustom {
    padding: 0;
  }
}