

.navCustom {
  background-color:#0b0b13;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem; */
  z-index: +1;
  width: 100%;
  top: 0;
  margin-bottom: 6rem;
  /* transition: all 500ms ease; */
}






.header {
  float: left;
  padding-top: 2rem;
  padding-left: 4rem;
  color: #00FF00;
  margin-bottom: 2.5rem;
}

.liCustom {
    padding: 2rem;
  }


.ul {
    float: right;
    list-style: none;
    position: relative;
    left: 8rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

  }

.liCustom a {
  text-decoration: none;
  color: white;
}

.liCustom a:hover {
  color: rgb(24, 247, 4);
}


.liCustom.hire:hover {
  background:  	#222222;
}
.liCustom.hire a {
  color: white;
}

.mobile_button {
  display: none;
}



@media screen and (max-width: 767px) {
  .mobile_button {
    margin-right: 0;
    display: block;
    position: absolute;
    right: 4.7rem;
    cursor: pointer;
    z-index: 20;
    transition: left 1s;
    padding: 0;

  }



  .mobile_button i {
    color: rgb(66, 235, 66); 
  
  }

  .ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    left: -100%;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 35vh;
    transform: left 1s;
    background-color: #000000;
    z-index: 10;
    transition: left 1s;

  }
  

  .ul li {
    margin: 0.5rem;

  }

  .header {
    /* float: left; */
  padding-top: 2rem;
  padding-left: 4rem;
  margin-bottom: 2.5rem;

  }

  .active {
    left: 0;
  }

  .liCustom {
    padding: 0;
  }
}

@media screen and (min-width: 866px) {
  /* .navCustom {
    margin-left: 4rem;
    margin-right: 4rem;
  } */
}

@media screen  and (max-width: 579px){
  .header {
    padding-top: 2rem;
    /* padding-left: 4rem; */
    margin-bottom: 2.5rem;
  }

  .mobile_button {
    margin-right: 0;
    right: 3rem;


  }
}

@media screen and (max-width: 311px) {
  .mobile_button i {
    font-size: 0.7rem;
    margin-bottom: 1.6rem;
  }
  .mobile_button {
    right: 1rem;

  }

  .header {
    font-size: 1rem;
    padding-left: 0.1rem;
  }

  .navCustom {
    padding-top: 1rem;
    height: 1.8rem;
  }

  .ul a {
    font-size: 0.7rem;
  }
}