.sectionBox {
    /* border-style: inset; */
    padding: 1rem;
    height: auto;
    box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 4rem;
  }

  .bottom {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .container {
    padding: 0;
  }

  .formCustom input:focus {
    color: rgb(194, 189, 189);
  }
  .formCustom input {
    color: rgb(201, 193, 193);
  }

  .infoHeader {
    text-decoration-line: underline;
    padding-bottom: 1rem;
    text-decoration-color: #00FF00;
    text-shadow: 0 3px 10px rgb(2, 250, 77);
    text-decoration-thickness: 0.2rem;
  }

  .info {
    margin: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 3px 10px rgb(24, 23, 23);
    border-radius: 0.4rem;
    text-align: center;
    background-color:  #161626;
    
  }

  .form {
    margin-top: 8rem;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  .green {
    background-color: #00FF00;
  }

  .buttonCustom {
    background-color: transparent;
    border: #03fd03;
    box-shadow: 0 3px 10px rgb(27, 49, 34);
    text-align: right;
  }
  
  .buttonCustom:hover {
    background-color: #02fa02;
    box-shadow: 0 3px 10px rgb(2, 250, 77);
  }

 

  .inputCustom {
    background-color: #1c1c36;
    height: 2rem;
    width: 100%;
    padding: 1rem;
    border: #000000;
  }

  .messageBody {
    height: 6rem;
    color: rgb(175, 169, 169);
  }
  
  .inputCustom:focus {
    background-color: #000000;
  }

  @media screen  and (max-width: 311px) {

    .infoHeader {
      font-size: 0.8rem;
    }

    .sectionBox {
      margin-top: 3rem;
    }

    .formCustom label {
      font-size: 0.6rem;
    }
    .formCustom ::placeholder {
      font-size: 0.6rem;
    }

    .buttonCustom {
      font-size: 0.7rem;
    }

    .form {
      padding: 1rem;
    }
  }