body {
  background: 	#000000;
  font-family: sans-serif;
  color: whitesmoke;
}

ul {
  float: right;
  list-style: none;
  padding: 1.8rem;
}


.li-custom {
  display: inline;
  margin: 2rem;
}



.background {
  background-image: url('../src/components/pages/snow.jpg');
  background-size: contain;
  border-radius: 1.5rem;
  padding: 2rem;
  height: 20rem;
  width: 100%;
  background-position: inherit;
  box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
}

.img {
  height: 16rem;
  width: 18rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.section-top {
  margin-top: 6rem;
 
}



.nav-custom {
  background-color:	#121111;
  height: 5rem;
  position: fixed;
  z-index: +1;
  width: 100%;
  top: 0;
  transition: all 500ms ease;
  padding-right: 2rem;
}


.li-custom a {
  text-decoration: none;
  color: whitesmoke;
}

.li-custom a:hover {
  color: whitesmoke;
}

.li-custom.hire:hover {
  background:  	#222222;
}
.li-custom.hire a {
  color: white;
}

.green {
  color: #00FF00;
}

.header {
  float: left;
  display: inline;
  padding-top: 2rem;
  padding-left: 4rem;
  color: #00FF00;
}
.hire {
  border-style: outset;
  color: whitesmoke;
  padding: 0.6rem 2rem 0.6rem 2rem ;
  text-align: center;
  border-radius: 1.3rem;
  border-width: 0.1rem;
  border-color: grey;
}

.container {
  padding: 0;
}

.drip {
  margin-top: 4rem;
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: middle;
  transform: rotateX(180deg);
}

.projects {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  color: whitesmoke;
  background-color: #073a075b;
  border-radius: 2rem;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);

}

.listed {
  padding-left: 4rem;
  padding-right: 4rem;
}

.section-box {
  /* border-style: inset; */
  padding: 1rem;
  height: 15rem;
  box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
  width: fit-content;
  border-radius: 2rem;
  margin-bottom: 4rem;
}


.right {
  margin-left: 0.5rem;
}

.left {
  margin-right: 0.5rem;
}

.listed li {
  display: inline;
  margin: 0.2rem;
  vertical-align: middle;
  /* text-align: center; */
  padding: 0.3rem;
  background-color: rgb(94, 91, 91);
  border-radius: 0.3rem;
}

.listed {
  vertical-align: middle;
  padding-top: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.skill {
  text-align: center;
}

.div-a a{
  text-decoration: none;
  float: right;
  background-color: #0b830b;
  padding: 0.3rem;
  border-radius: 1rem;
  color: white;
}
.div-a a:hover {
  background-color: #0eac0e;
}

.bottom {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.div-projects{
  padding-top: 4rem;
}

.about {
  text-align: center;
}

.skill-icon {
  width: 100%;
  text-align: center;
  margin: 2rem;
}

.skill-icon li {
  display: inline;
  padding: 0.5rem;
  background-color: rgb(8, 8, 8);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
}
