body {
  background: 	#000000;
  font-family: sans-serif;
  color: whitesmoke;
}

ul {
  float: right;
  list-style: none;
  padding: 1.8rem;
}


.li-custom {
  display: inline;
  margin: 2rem;
}



.background {
  background-image: url('../src/components/pages/snow.jpg');
  background-size: contain;
  border-radius: 1.5rem;
  padding: 2rem;
  height: 20rem;
  width: 100%;
  background-position: inherit;
}

.img {
  height: 16rem;
  width: 18rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.section-top {
  margin-top: 6rem;
 
}



.nav-custom {
  background-color:	#121111;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 500ms ease;
  padding-right: 2rem;
}


.li-custom a {
  text-decoration: none;
  color: gray;
}

.li-custom a:hover {
  color: whitesmoke;
}

.li-custom.hire:hover {
  background:  	#222222;
}
.li-custom.hire a {
  color: white;
}

.green {
  color: #00FF00;
}

.header {
  float: left;
  display: inline;
  padding-top: 2rem;
  padding-left: 4rem;
  color: #00FF00;
}
.hire {
  border-style: outset;
  color: whitesmoke;
  padding: 0.6rem 2rem 0.6rem 2rem ;
  text-align: center;
  border-radius: 1.3rem;
  border-width: 0.1rem;
  border-color: grey;
}

.container {
  padding: 0;
}

.drip {
  margin-top: 4rem;
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: middle;
  transform: rotateX(180deg);
}