body {
  background: 	#0b0b13;
  font-family: "Fredoka", sans-serif;
  color: whitesmoke;
}



.section-top {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  body {
    margin-top: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3rem;
  }

  section-top {
    margin-top: 1rem;
  }
}




@media screen and (max-width: 579px) {
  body {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  section-top {
    margin-top: 9rem;
  }
}
