.background {
    background-image: url('../../images/snow.jpg');
    background-size: contain;
    display: flex;
    vertical-align: middle;
    border-radius: 1.5rem;
    padding: 2rem;
    height: fit-content;
    width: 100%;
    background-position: inherit;
    box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
    margin-top: 8rem;
  }

  .green {
    color: #00FF00;
  }

  .hireResume {
    display: flex;
    list-style: none;
    /* width: 100%; */
    padding: 0.5rem;
    margin-top: 3rem;
  }
  
  .hireResume li {
    text-align: left;
    padding: 0.1rem;
    margin-right: 1rem;
  }
  
  .hireResume a {
    text-decoration: none;
  }

  .hired {
    background-color: #05f705;
    border-color: #02fa02;
    border-radius: 0.3rem;
    box-shadow: 0 3px 10px rgb(2, 250, 77);
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.5rem;
  }
  
  .hired:hover  {
    background-color: transparent;
  }
  
  .hired a:hover {
    background-color: transparent;
    color:  #03fd03;
  }
  
  .hired a {
    color: rgb(73, 73, 73);
  }

  .resume {
    background-color: transparent;
    border:  #03fd03;
    border-style: solid;
    border-color:  #03fd03;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    box-shadow: 0 3px 10px rgb(2, 250, 77);
  }

  .img {
    height: 16rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .resume a{
    color: rgb(6, 150, 6);
  }

  .resume:hover{
    background-color: rgb(2, 252, 2);
  }
  .resume  a:hover {
    color: black;
  }

  @media screen and (max-width: 768px) {
    .hireResume {
      padding: 0.1rem;
      margin-top: 1rem;
    }
  }

  @media screen  and (max-width: 579px){
    .background {
      background-image: url('../../images/snow.jpg');
      background-size: contain;
      display: flex;
      flex-direction: column-reverse;
      height:fit-content;
      margin-top: 7rem;
    }

    .img {
      height: 90%;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 3.2rem;
      display: block;
    }
  }