.background {
    background-image: url('../../images/snow.jpg');
    /* background: #262241; */
    background-size:cover;
    display: flex;
    vertical-align: middle;
    border-radius: 1.5rem;
    padding: 2rem;
    height: fit-content;
    width: 100%;
    background-position: inherit;
    box-shadow: 0 3px 10px rgba(172, 166, 166, 0.2);
    margin-top: 8rem;
  }

  .green {
    color: #5D3FD3;
  }

  .hireResume {
    display: flex;
    list-style: none;
    /* width: 100%; */
    padding: 0.5rem;
    margin-top: 5rem;
  }
  
  .hireResume li {
    text-align: left;
    padding: 0.1rem;
    margin-right: 1rem;
  }
  
  .hireResume a {
    text-decoration: none;
    font-size: 0.9rem;
    text-shadow:  0 3px 10px  #8168e6;;
  }

  .hired {
    background-color: #8168e6;;
    border-color:  #8168e6;;
    border-radius: 0.3rem;
    box-shadow: 0 3px 10px  #8168e6;;
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.5rem;
    width: auto;
  }

  .resume {
    background-color: transparent;
    border:  #8168e6;;
    border-style: solid;
    border-color:   #8168e6;;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    box-shadow: 0 3px 10px  #8168e6;;
    width: auto;
  }
  
  .hired:hover  {
    background-color: transparent;
  }
  
  .hired a:hover {
    background-color: transparent;
    color:   #8168e6;;
  }
  
  .hired a {
    color: rgb(209, 205, 205);
  }



  .img {
    height: 16rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .resume a{
    color:  #8168e6;;
  }

  .resume:hover{
    background-color:  #8168e6;;
  }
  .resume  a:hover {
    color: rgb(226, 224, 224);
  }

  @media screen and (max-width: 768px) {
    .hireResume {
      padding: 0.1rem;
      margin-top: 1rem;
    }
  }

  @media screen  and (max-width: 579px){
    .background {
      background-image: url('../../images/snow.jpg');
      background-size: contain;
      display: flex;
      flex-direction: column-reverse;
      height:fit-content;
      margin-top: 7rem;
    }

    .img {
      height: 90%;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 3.2rem;
      display: block;
    }
  }

  @media screen and (max-width: 311px) {
    .background {
      margin-top: 0.5rem;
    }

    .background h5 {
      font-size: 0.7rem;
    }
    .background h1 {
      font-size: 0.7rem;
    }

    .background p {
      font-size: 0.6rem;
    }

    .hired a{
      font-size: 0.6rem;
    }
    .resume a{
      font-size: 0.6rem;
    }

    .hireResume li {
      height: auto;
      width: auto;
      padding: 0;
    }

    .hireResume a {
      padding: 0.1rem;
    }
  }